@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="img-thumbnail img-fluid">
        <h1>Hello There!!</h1>
        <p class="lead">Welcome to My Website</p>
        <img src="~/Content/images/unname_cover.jpg" style="max-height:400px; width:100%;" />


    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="img-thumbnail img-fluid">
            <img src="~/Content/images/unname.jpg" style="max-height:400px; width:100%;" />

            <p>
                This Website allows you to store contacts of your own other than your smart phone.
            </p>

        </div>


    </div>
    <div class="col-md-4">
        <div class="img-thumbnail img-fluid">
            <img src="~/Content/images/unname2.jpg" style="max-height:400px; width:100%;" />
            <h5>Click Register to know more</h5>
            

        </div>

    </div>

<div class="col-md-4">
    <div class="img-thumbnail img-fluid">
        <img src="~/Content/images/unname1.jpg" style="max-height:400px; width:100%;" />
        
        <h5>Click Contact to get in touch with me</h5>

    </div>

</div>
        </div>
